# [Gemini]
gemini_api_key={YOUR_API_KEY}
gemini_url=https://generativelanguage.googleapis.com/v1beta/models/%s:generateContent?key=%s
# gemini_model=gemini-2.0-flash
# gemini_sleep_second=6
gemini_model=gemini-2.5-flash-preview-04-17
gemini_sleep_second=6

# [DB]
# absolute path
db_path=/your/path/to/kaigai-go-scraper/db.sql

# [Scrape HTML]
# Top Nth page will be scraped
top_link_num=10
# Number of comments per page
max_comments_num=90
# Maximum comments to show for one comment
max_reply_per_comment_num=30

# [Generate Article]
minimum_colour_score=80
comment_fold_chunk_num=30
lowest_comment_score=31
# Project output folder
output_article_folder=/your/path/to/output
# The path of the blog repo
article_destination=/your/path/to/blog_repo/content/folder
blog_repo=/your/path/to/blog_repo

# [Http Server]
server_port=5678
server_host="http://the-host-of-the-server.com/"
